<header>
  <app-menu-bar></app-menu-bar>
</header>
<body>

  <div class="formulario">
    <p class="titulo">PROVEEDOR</p>
    <table>
      <thead>
        <th>NOMBRE</th>
        <th>TELEFONO</th>
        <th>CORREO</th>
        <th>DIRECCION</th>
        
      </thead>

      <tbody>
        <tr *ngFor="let newSchemaProveedor of datos; let i = index">
          <td class="center">{{newSchemaProveedor.nombreProveedor}}</td>
          <td class="center">{{newSchemaProveedor.telefonoProveedor}}</td>
          <td class="center">{{newSchemaProveedor.correoProveedor}}</td>
          <td class="center">{{newSchemaProveedor.direccionProveedor}}</td>
          <td class="center"> 
            <img src="../../../assets/bote.png" alt="" srcset="" class="icono" (click)="borrarProveedor(newSchemaProveedor._id)"> 
            <img src="../../../assets/editar2.png" alt="" srcset="" class="icono" (click)="guardarId(newSchemaProveedor._id)" routerLink="/Editar/Proveedor"> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="agregar">
    <button class="btn-agregar" routerLink="/Agregar/Proveedor"> AGREGAR</button>

  </div>

</body>