
body{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    height: 80vh;
    margin-right: -100px;
}

.titulo
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #003049;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: #bcced8;
    border-radius: 10px;
}

.formulario{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:transparent;
    font-size: 12px;
    border-radius: 10px;
    margin-top: -100px;
    min-height: 10vh;
    width: 70%;
    border: 2px solid #003049;
    background: #ffffff;  /* fallback for old browsers */
}

th{
    background-color:transparent;
    color: #000000;
}
td{
    color: rgb(0, 0, 0);
    text-align: justify;
}

td{
    border-bottom: 2px solid #f5f3f4;
    
}

.center{
    text-align: center;
}

thead > th{
    padding: 0px 25px 5px 25px;
    border-bottom: 2px solid #f5f3f4;
    color: #b40d0d;
}

li{
    list-style: none;
}

.bright{
    color:#D62828;
    cursor: pointer;
    text-align: center;
}

.ast{
    margin-top: 15px;
}



.agregar{
    margin: 25px 10px;
    display: flex;
    align-items: end;
    margin-left: 2300px;
    width: 3000px;
    align-items: center;
    
}

.btn-agregar{
    background-color: #F77F00;
    color: white;
    width: 20%;
    border-radius: 10px;
    border-color: #d4d2d7;
    font-size: 28px;
    padding: 5px 2.5px;

}

.btn-agregar:hover{
    cursor: pointer;
    border-radius: 5px;
    border: 2px;
    background-color: #e62c0b;
}

img{
    width: min-content;
    width: 30px;
}