<header>
  <app-menu-bar></app-menu-bar>
</header>
<body>
    <div class="formulario">
      <p class="titulo">PRODUCTOS</p>
        <table>
          <thead>
            <th>NOMBRE</th>
            <th>MARCA</th>
            <th>PRESENTACION</th>
            <th>CONTENIDO</th>
            <th>PRECIO</th>
            <th>DESCRIPCION</th>
            
            <th>PROOVEDOR</th>
            <th>ELIMINAR/EDITAR</th>
          </thead>
      
          <tbody>
            <tr *ngFor="let newSchemaProducto of datos; let i = index">
              <td class="center">{{newSchemaProducto.nombreProducto}}</td>
              <td class="center">{{newSchemaProducto.marcaProducto}}</td>
              <td class="center">{{newSchemaProducto.presentacionProducto}}</td>
              <td class="center">{{newSchemaProducto.contenidoProducto}}</td>
              <td class="center">{{newSchemaProducto.precioProducto}}</td>
              <td class="center">{{newSchemaProducto.descripcionProducto}}</td>
              
              <td class="center">{{newSchemaProducto.proovedor}}</td>
              <td class="center"> 
                <img src="../../../assets/bote.png" alt="" srcset="" class="icono" (click)="borrarProducto(newSchemaProducto._id)">
                <img src="../../../assets/editar2.png" alt="" srcset="" class="icono" (click)="guardarId(newSchemaProducto._id)" routerLink="/Editar/Producto/">
              </td>
            </tr> 
          </tbody>
        </table> 
    </div>


    <div class="agregar">
      <button class="btn-agregar" routerLink="/Agregar/Producto"> AGREGAR</button>
  </div>

  </body>