<header>
    <app-menu-bar></app-menu-bar>
  </header>
<body>
    <form action="">

        <h2 class="titulo">EDITAR PRODUCTO</h2>

        <div class="info">
            <div class="etiquetas">
                <p>NOMBRE</p>
                <p>MARCA </p>
                <p>PRESENTACION</p>
                <p>STOCK</p>
                <p>PRECIO </p>
                <p>DESCRIPCION</p>
                <p>STATUS</p>
            </div>
    
            <div class="cajas" *ngFor="let Producto of productoDatos, let i = index">
                <input type="text" name="nombreProducto"   [(ngModel)]="newSchemaProducto.nombreProducto"  >
                <input type="text" name="marcaProducto"   [(ngModel)]="newSchemaProducto.marcaProducto"  >
                <input type="text" name="foto"   [(ngModel)]="newSchemaProducto.presentacionProducto"  >
                <input type="number" name="categoria" [(ngModel)]="newSchemaProducto.contenidoProducto"  >
                <input type="number" name="precioProducto"   [(ngModel)]="newSchemaProducto.precioProducto"  >
                <input type="text" name="descripcionProducto"   [(ngModel)]="newSchemaProducto.descripcionProducto">
                <select name="select" [(ngModel)]="newSchemaProducto.proovedor">
                    <option selected >Selecciona una opcion</option>
                    <option *ngFor="let Venta of datosc; let i = index">{{Venta.nombreProveedor}}</option>
                  </select>
            </div>
        </div>

        <button (click)="updateProducto()">ACEPTAR </button>

    </form>
</body>