body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

form{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
    background-color: #efefef;
    padding: 20px;
    border-radius: 10px;
    margin-top: -60px;
    margin-bottom: -60px;
    margin-bottom: 20px;
    border: 2px solid #003049;
}
.titulo
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #003049;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -32px;
    text-align: center;
    padding: 10px;
    width: 672px;
    background-color: #bcced8;
    border-radius: 10px;
}

h2{
    color: #003049;
    font-weight: bold;
    font-size: 20px;
    background-color: #bfcbd1;
}

.info{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -60px;
    margin-bottom: 60px;
}

button{
    background-color: #F77F00;
    color: white;
    width: 30%;
    border-radius: 10px;
    border-color: #d4d2d7;
    font-size: 28px;
    padding: 5px 2.5px;
    margin-top: -170px;
    margin-bottom: 60px;

}

button:hover{
    cursor: pointer;
    border-radius: 5px;
    border: 2px;
    background-color: #e62c0b;
}

.etiquetas, .cajas{
    display: flex;
    flex-direction: column;
    height: 50%;
    padding-top: -70px;
    margin-top: -120px;
}

.cajas{
    width: 70%;
    align-items: center;
    justify-content: space-around;
}

.etiquetas{
    width: 30%;
    justify-content: space-around;
    align-items: end;
}
.cajas > input:hover{
    border-radius: 2px solid #ffffff; 

}

.cajas > input{
    width: 90%;
    height: 25px;
    border: 2px solid #e2c852;
    background-color: #eeeded;
    text-align: center;
    border-radius: 10px;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.encabezado {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover;
    background-image: url("../../../assets/bannerusu.png");
    width: 90%;
    margin-left: 100px;
    height: 250px;
  }
  
  header{
    width: 107%;
    background:#082749;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#082749,#082749);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#082749, #082749); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-left: -100px;
    color: white;
    height: 100%;
    display: flex;
  
    align-items: center;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
  }