<header>
    <!-----------BANNER-------------------->
    <div class="encabezado">
        
    </div>
    
  </header>
<body>
    <form action="">

        <h2 class="titulo">AGREGAR USUARIO</h2>

        <div class="info">
            <div class="etiquetas"> 
                <p>NOMBRE USUARIO</p>
                <p>PASSWORD </p>
            </div>
    
            <div class="cajas">
                <input type="text" name="idUsuario" [(ngModel)]="newSchemaCliente.nombreUsu">
                <input type="password" name="passwordUsuario" [(ngModel)]="newSchemaCliente.passwordUsu">
            </div>
        </div>

        <button (click)="addCliente()">ACEPTAR</button>

    </form>
</body>
