body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

form{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    background-color: #efefef;
    padding: 20px;
    border-radius: 10px;
    margin-top: -60px;
    border: 2px solid #003049;
    margin-bottom: 20px;
}
.titulo
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #003049;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -20px;
    text-align: center;
    padding: 10px;
    width: 672px;
    background-color: #bcced8;
    border-radius: 10px;
}

h2{
    color: #003049;
    font-weight: bold;
    font-size: 20px;
    background-color: #bfcbd1;
}

.info{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

button{
    background-color: #F77F00;
    color: white;
    width: 30%;
    border-radius: 10px;
    border-color: #d4d2d7;
    font-size: 28px;
    padding: 5px 2.5px;

}

button:hover{
    cursor: pointer;
    border-radius: 5px;
    border: 2px;
    background-color: #e62c0b;
}

.etiquetas, .cajas{
    display: flex;
    flex-direction: column;
    height: 90%;
}

.cajas{
    width: 70%;
    align-items: center;
    justify-content: space-around;
}

.etiquetas{
    width: 30%;
    justify-content: space-around;
    align-items: end;
}
.cajas > input:hover{
    border-radius: 2px solid #ffffff; 

}

.cajas > input{
    width: 90%;
    height: 25px;
    border: 2px solid #e2c852;
    background-color: #eeeded;
    text-align: center;
    border-radius: 10px;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
}