<header>
  <!-----------BANNER-------------------->
  <div class="encabezado">
      
  </div>
  
</header>
<body>
  <div class="col ticket">
    <div class="pricingTable">
      <ul class="pricingTable-firstTable">
        <li class="pricingTable-firstTable_table">
          <h1 class="pricingTable-firstTable_table__header">REFACCIONARIA PMC</h1>
          <h4>Fecha: </h4><p>{{currentDate | date: 'dd/MM/yyyy'}}</p>
          <h4>Nombre cliente: </h4>
          <select name="select" [(ngModel)]="productoSchema.cliente">
            <option selected >Selecciona una opcion</option>
            <option *ngFor="let Venta of datosc; let i = index">{{Venta.nombreCliente}}</option>
          </select>
          

          <table class="table">
            <thead>
              <tr class="tituloventa">
                <th>PRODUCTO </th>
                <th>PRECIO </th>
                <th>ELIMINAR</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of ticket; let i = index">
                <td class="center">{{producto.nombreProducto}}</td>
                <td class="center">{{producto.precioProducto}}</td>
                <img src="../../../assets/bote.png" alt="" srcset="" class="icono" (click)="borrar(i)">
              </tr>
              <br><br><br>
              <tr class="res">
                <th>SUBTOTAL</th><td class="center">{{productoSchema.subtotal}}</td>
              </tr>
              <tr class="res">
                <th>IVA</th><td class="center">{{productoSchema.iva}}</td>
              </tr>
              <tr class="res">
                <th>TOTAL</th><td class="center">{{productoSchema.total}}</td>
              </tr>
            </tbody>
          </table>


          <button class="pricingTable-firstTable_table__getstart" (click)="imprimir()">Guardar Venta</button>
        </li>
      </ul>
    </div>
  </div>



















  <div class="col listaP">
    <div class="formulario">
      <p class="titulo">PRODUCTOS</p>
      <table>
        <thead>
          <th>NOMBRE</th>
          <th>MARCA</th>
          <th>PRESENTACION</th>
          <th>STOCK</th>
          <th>PRECIO</th>
          <th>DESCRIPCION</th>
          <th>AGREGAR</th>
        </thead>

        <tbody>
          <tr *ngFor="let Venta of datos; let i = index">
            <td class="center">{{Venta.nombreProducto}}</td>
            <td class="center">{{Venta.marcaProducto}}</td>
            <td class="center">{{Venta.presentacionProducto}}</td>
            <td class="center">{{Venta.contenidoProducto}}</td>
            <td class="center">{{Venta.precioProducto}}</td>
            <td class="center">{{Venta.descripcionProducto}}</td>
            <td class="center">
              <img src="../../../assets/carrito2.png" alt="" srcset="" class="icono" (click)="obtener(Venta._id)">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>