
body{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    height: 80vh;
}
th{
  color:#082749;
}

.encabezado {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-size: cover;
  background-image: url("../../../assets/bannerusu.png");
  width: 90%;
  margin-left: 100px;
  height: 250px;
}

header{
  width: 107%;
  background:#082749;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#082749,#082749);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#082749, #082749); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-left: -100px;
  color: white;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: space-between;
  font-family:Arial, Helvetica, sans-serif;
}

 th{
    background-color:transparent;
    color: #000000;
}
 td{
    color: rgb(0, 0, 0);
    text-align: justify;
}

 td{
    border-bottom: 2px solid #f5f3f4;
    
}
thead > th{
    padding: 0px 25px 5px 25px;
    border-bottom: 2px solid #f5f3f4;
    color: #b40d0d;
}

 li{
    list-style: none;
}

.ticket{
    width: 20%;
    float: right;
    margin-left: -1900px;
}
.listaP{
    width: 60%;
    margin-right: -600px;
    float: right;
    margin-top: -200px;

}

.ticket th{
  color:#b80606;
  width: 10%;
  margin-right: 30px;
  padding-left: -40px;
  text-align: center;
  background-color: #e0e6e9;
}




.listaP{

    .titulo
    {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        padding: 10px;
        width: 100%;
        background-color: #bcced8;
        border-radius: 10px;
    }
    
    .formulario{
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: column;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color:transparent;
        font-size: 12px;
        border-radius: 10px;
        margin-top: -260px;
        min-height: 10vh;
        width: 95%;
        border: 2px solid #003049;
        background: #ffffff;  /* fallback for old browsers */
    }
    
  
    .center{
        text-align: center;
    }
    
   
    
    .bright{
        color:#D62828;
        cursor: pointer;
        text-align: center;
    }
    
    .ast{
        margin-top: 15px;
    }
    
    .mini{
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
  .listaP  img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 15px;
    }
    
    .icono{
        width: 25px;
        height: 25px;
    }
    
    .icono:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
    
    .agregar{
        margin: 25px 10px;
        display: flex;
        align-items: end;
        margin-left: 2300px;
        width: 3000px;
        align-items: center;
        
    }
    
     .btn-agregar{
        background-color: #F77F00;
        color: white;
        width: 20%;
        border-radius: 10px;
        border-color: #d4d2d7;
        font-size: 28px;
        padding: 5px 2.5px;
    
    }
    
    .btn-agregar:hover{
        cursor: pointer;
        border-radius: 5px;
        border: 2px;
        background-color: #e62c0b;
    }
}












h4{
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
p{
  color:#003049;
}
.selected{
  color:#003049;
  margin-bottom: 10px;
}
.table{
  margin-top: 20px;
}
.ticket{
margin-top: -50px;
.pricingTable {
  margin: 40px auto;
}

.pricingTable>.pricingTable-title {
  text-align: center;
  color: #6e768d;
  font-size: 3em;
  font-size: 300%;
  margin-bottom: 20px;
  letter-spacing: 0.04em;
}

.pricingTable>.pricingTable-subtitle {
  text-align: center;
  color: #b4bdc6;
  font-size: 1.8em;
  letter-spacing: 0.04em;
  margin-bottom: 60px;
}



.pricingTable-firstTable {
  list-style: none;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
} 

.pricingTable-firstTable_table {
  vertical-align: middle;
  width: 700px;
  background-color: #ffffff;
  padding: 0px 30px 40px;
  align-items: center;
  margin-left: 400px;
  text-align: center;
  max-width: 520px;
  transition: all 0.3s ease;
  border-radius: 5px;
  border: 2px solid #7b8285;

}




.pricingTable-firstTable_table:not(:last-of-type) {
  margin-right: 3.5%;
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table:not(:last-of-type) {
    margin-right: auto;
  }
}

.pricingTable-firstTable_table:nth-of-type(2) {
  position: relative;
}



.pricingTable-firstTable_table__header {
  font-size: 1.6em;
  padding: 10px 0px;
  border-bottom: 2px solid #ebedec;
  letter-spacing: 0.03em;
  width: 113%;
  margin-left: -30px;
  color:#020f1d;
  background-color: #c0c3ce;
}



.pricingTable-firstTable_table__pricing {
  font-size: 3em;
  padding: 30px 0px;
  border-bottom: 2px solid #ebedec;
  line-height: 0.7;
}


.pricingTable-firstTable_table__getstart {
  color: white;
  border: 0;
  background-color: #30a332;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;
  box-shadow: 0px 3px 0px 0px #66ac64;
  letter-spacing: 0.07em;
  transition: all 0.4s ease;
}


@media screen and (max-width: 480px) {
  .pricingTable-firstTable_table__getstart {
    font-size: 1em;
    width: 50%;
    margin: 10px auto;
  }
}


@media screen and (max-width: 776px) {
  body {
    font-size: 70%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tituloventa {

    padding: 0px 25px 5px 25px;
    border-bottom: 2px solid #f5f3f4;
    color: #b40d0d;
  text-align: center;
}

.res {
  color: royalblue;
  text-align: right;
}

.encabezado {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-size: cover;
  background-image: url("../../../assets/bannerusu.png");
  width: 90%;
  margin-left: 100px;
  height: 220px;
}



.sorting {
  background-color: #D4D4D4;
}

.asc:after {
  content: ' ↑';
}

.desc:after {
  content: " ↓";
}
}