<header>
    <app-menu-bar></app-menu-bar>
  </header>
<body>
    <form action="">

        <h2 class="titulo">EDITAR PROVEEDOR</h2>

        <div class="info">
            <div class="etiquetas"> 
                <p>NOMBRE</p>
                <p>TELEFONO</p>
                <p>CORREO</p>
                <p>DIRECCION </p>
            </div>
    
            <div class="cajas" >
                <input type="text" name="nombreProvedor"   [(ngModel)]="newSchemaProveedor.nombreProveedor"  >
                <input type="number" name="telefonoProvedor"   [(ngModel)]="newSchemaProveedor.telefonoProveedor"  >
                <input type="text" name="correoProvedor"   [(ngModel)]="newSchemaProveedor.correoProveedor"  >
                <input type="text" name="direccionProvedor"   [(ngModel)]="newSchemaProveedor.direccionProveedor"  >
            </div>
        </div>

        <button (click)="updateProveedor()">ACEPTAR</button>

    </form>
</body>
