*,
*:before,
*:after {
  box-sizing: border-box;
}
img{
  margin-top: -200px;
  margin-bottom: 50px;
  width: 40%;
  margin-left: 100px;
}

.todo{
  background-color:#810b0b;
  padding-bottom:50px;
  height: auto;
  height: 625px;
  
}
.encabezado {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-size: cover;
  background-image: url("../../../assets/IMG/fondo2.jpg");
  width: 100%;
  height: 400px;
}
.medio{
  margin-top: -300px;
}

a {
  text-decoration: none;
  color: #bb5e13;
  transition: 0.5s ease;
}

a:hover {
  color: #319b17;
}

.banner {
  width: 1370px;
  margin-right: 300px;
  margin-left: -200px;
  background-color: #003049;
  margin-top: -30px;
  height: 60px;
}

.login{
  text-align: center;
}

.pass{
  color:rgb(218, 218, 218);
  margin-top: -30px;
  margin-bottom: -1px;
}

.idu{
  color:rgb(218, 218, 218);
  margin-bottom: -1px;
}
.form1 {
  background: rgba(81, 83, 85, 0.9);
  padding: 140px;
  max-width: 600px;
  height: 410px;
  padding-top: 80px;
  margin: 4px auto;
  margin-top: -20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 20px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: -30px;
  align-items: center;


}

.tab-group {
  list-style: none;
  padding: 0;
  margin: -50px -50px 40px -30px;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(179, 164, 160, 0.25);
  color: #b3a8a0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab-group li a:hover {
  background: #f77f00;
  color: #ffffff;
}

.tab-group .active a {
  background: #d62828;
  color: #ffffff;
}

.tab-content>div:last-child {
  display: none;
}



h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 10;
  margin-left: -50px;
  margin-right: -50px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}

label .req {
  margin: 2px;
  color: #ccda09;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #b3a0a0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: #fcbf49;
}

textarea {
  border: 2px solid #fcbf49;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row>div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row>div:last-child {
  margin: 0;
}
.tituloref{
  text-align:right;
  margin-right: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
  border: 0;
  outline: none;
  padding: 5px 0;
  font-size: 1.5rem;
  font-weight: 2x00;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #9e0c0c;
  color: #ffffff;
  transition: all 0.5s ease;
  margin-top: -10px;
}

.button:hover,
.button:focus {
  background: #f31e17;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}