<header>
  <app-menu-bar></app-menu-bar>
</header>
<body>
    <div class="formulario">
      <p class="titulo">CLIENTE</p>
      <table>
        <thead>
          <th>NOMBRE</th>
          <th>TELEFONO</th>
          <th>DIRECCION</th>
        </thead> 
  
        <tbody>
          <tr *ngFor="let newSchemaCliente of datos; let i = index">
            <td class="center">{{newSchemaCliente.nombreCliente}}</td>
            <td class="center">{{newSchemaCliente.telefonoCliente}}</td>
            <td class="center">{{newSchemaCliente.direccionCliente}}</td>
            <td class="center"> 
              <img src="../../../assets/bote-de-basura.png" alt="" srcset="" class="icono" (click)="borrarCliente(newSchemaCliente._id)"> 
              <img src="../../../assets/editar2.png" alt="" srcset="" class="icono" (click)="guardarId(newSchemaCliente._id)" routerLink="/Editar/Cliente/"> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="agregar">
      <button class="btn-agregar" routerLink="/Agregar/Cliente"> AGREGAR</button>
  </div>
  </body>