.banner {
    width: 1570px;
    margin-left: -200px;
    text-align: center;
    background-color: #082749;
    margin-top: 30px;
    height: 80px;
  }
  
  .encabezado {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover;
    background-image: url("../../../assets/bannerusu.png");
    width: 90%;
    margin-left: 100px;
    height: 220px;
  }



  header{
    width: 107%;
    background:#082749;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#082749,#082749);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#082749, #082749); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-left: -100px;
    color: white;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
}

  
.logotipo{
  width: 30%; 
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



nav{
  /* width: 40%; */
  width: 95%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #082749;
  flex-direction: row;
}

p{
  padding: 15px;
}

p:hover{
  cursor: pointer;
  background-color: black;
}

.active-btn{
  border-bottom: 3px solid white;
}