<header>
    <!-----------BANNER-------------------->
    <div class="encabezado">
        
    </div>
    <nav>
        <p routerLink="/Inicio/LoginAdmin" routerLinkActive="active-btn">INICIO</p>
        <p routerLink="/Inicio/Productos" routerLinkActive="active-btn">Productos</p>
        <p routerLink="/Inicio/Cliente" routerLinkActive="active-btn">Cliente</p>
        <p routerLink="/Inicio/Provedores" routerLinkActive="active-btn">Provedores</p>
    </nav>
</header>