<header>
    <app-menu-bar></app-menu-bar>
  </header>
<body>
    <form action="">

        <h2 class="titulo">EDITAR CLIENTE</h2>

        <div class="info">
            <div class="etiquetas"> 
                <p>NOMBRE</p>
                <p>TELEFONO </p>
                <p>DIRECCION </p>
            </div>
    
            <div class="cajas">
                <input type="text" name="nombreCliente"   [(ngModel)]="newSchemaCliente.nombreCliente"  >
                <input type="number" name="telefonoCliente"   [(ngModel)]="newSchemaCliente.telefonoCliente"  >
                <input type="text" name="direccionCliente" [(ngModel)]="newSchemaCliente.direccionCliente"  >
            </div>
        </div>

        <button (click)="updateCliente()">ACEPTAR</button>

    </form>
</body>

