<div class="todo">

    <div class="col encabezado">
        <h1 class="tituloref">REFACCIONARIA PMC</h1>

    </div>
    <div class="col medio">
        <div class="form1">
            <img src="../../../assets/candado3.png" alt="">

            <ul class="tab-group">
                <li class="tab"><a href="#signup">ADMINISTRADOR</a></li>
                <li class="tab active"><a href="#login">USUARIO </a></li>
            </ul>

            <div class="signup" id="signup">
                <form action="/" method="post">


                    <div class="field-wrap">
                        <h3 class="idu">ID USUARIO</h3>
                        <input type="text" name="usuario" placeholder="19680235" [(ngModel)]="newSchemaUsu.nombreUsu">
                    </div>

                    <div class="field-wrap">
                        <h3 class="pass">PASSWORD</h3>
                        <input type="password" name="password" placeholder="*********"
                            [(ngModel)]="newSchemaUsu.passwordUsu">
                    </div>

                    <button class="button button-block" (click)="guardardatos()"> INGRESAR</button> <br>
                    <button type="submit" class="button button-block" routerLink="/Inicio/AgregarUsuario">REGISTRAR</button>

                </form>

            </div>
            <br>

        </div>
    </div>
    <br>
<br>
</div>